* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(img/gams.jpg);
  background-size: cover;
  background-position: center;
}

/* Style for the nav links */
.navlinks a {
  color: white; /* Default color for inactive links */
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

/* Style for the active nav link */
.navlinks a.active {
  color: red; /* Color for the active link */
}

/* Optional: Add hover effect for better user experience */
.navlinks a:hover {
  color: red;
}

/* Style for the Subscribe button */
.btn {
  color: white;
  background-color: red; /* Example color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: red;
}
nav ul li {
  list-style-type: upper-alpha;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
}

nav ul li:hover {
  color: red;
  transition: 0.4s;
}
.btn {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: red;
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid red;
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: red;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}
.about img {
  height: 460px;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}

.Services {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: auto;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: white;
}
h5 {
  color: red;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: white;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 25px;
}
.card .button {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}
.Contact-Me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Contact-Me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.Contact-Me .button-two {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.Contact-Me .button-two:hover {
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 3s;
}
.end {
  position: absolute;
  color: red;
  bottom: 35px;
  font-size: 14px;
}

/* Testimonials Section */
.feedbacks {
  max-width: 1920px;
  min-height: 100vh;
  padding: 100px;
  color: #121212;
}

.feedbacks_header {
  display: grid;
  place-items: center;
  bottom: 2rem;
}

/* Testimonial Heading */
.testimonial-heading {
  margin: 30px 0 3rem 0;
  /* padding: 10px 20px; */
  text-align: center;
  display: inline;
  font-size: 4rem;
  text-align: center;
}

.rate-me {
  text-align: center;
}
.rate-me h4 {
  font-weight: 700;
}
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--secondary-color);
}

/* Testimonial Boxes */
.testimonial-box-container {
  margin: auto;
  width: 100%;
}

.testimonial-box {
  width: auto;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(151, 146, 146, 0.274);
  background-color: var(--primary-color);
  cursor: pointer;
  margin: auto;
}

/* Profile Image */
.profile-img {
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
}

/* Name and User */
.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: var(--secondary-color);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

/* Client Comment */
.client-comment p {
  font-size: 1rem;
  color: var(--secondary-color);
}

/* Reviews */
/* section#review {
  display: flex;
  justify-content: center;
  align-items: center;
} */

div.reviews {
  color: #f9d71c;
}

/* Testimonial Box Top */
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

/* Reviews Container */
.reviews_container {
  width: 400px;
  background: var(--primary-color);
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 3px 3px grey;
}

.reviews_container .post {
  display: none;
}

.reviews_container .text {
  font-size: 25px;
  font-weight: 500;
}

.reviews_container .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

/* Radio Inputs */
.reviews input[type="radio"] {
  display: none;
}

.reviews label {
  font-size: 40px;
  color: var(--secondary-color);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

input:checked ~ label {
  color: #fd4;
}

input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

/* Form Styles */
.reviews_container form {
  display: none;
}

input:checked ~ form {
  display: block;
}

form header {
  font-size: 25px;
  color: #fe7;
  display: flex;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

/* Textarea */
form .textarea textarea,
form .name textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--secondary-color);
  border: 1px solid grey;
  background: var(--primary-color);
  padding: 10px;
  font-size: 17px;
  resize: none;
}

/* Buttons */
form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .btn button:hover {
  background: #1b1b1b;
}

label.fas.fa-star {
  width: 50px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header::before label.fas.fa-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_comments {
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .reviews_container {
    width: 280px;
  }

  .box_comments {
    width: 250px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .testimonial-box {
    width: auto;
  }

  .reviews {
    font-size: 12px;
  }

  div.profile {
    font-size: 10px;
  }

  .reviews label {
    font-size: 1.5rem;
  }

  label.fas.fa-star {
    margin-right: 5px;
  }

  #commentForm {
    padding: 20px;
  }

  .profile-image {
    height: 300px;
  }
}
